[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[dev-packages]
Werkzeug = "==0.14.1"
autopep8 = "*"
pylint = "*"
pdir2 = "*"
rope = "*"
pylint-django = "*"
requests-mock = "*"
python-magic-bin = "==0.4.14"
flower = "*"
gitchangelog = "*"
gevent = "*"
greenlet = "*"

[packages]
dj-database-url = "==0.5.0"
django-configurations = "==2.1"
django-debug-toolbar = "==1.10.1"
django-extensions = "==2.1.3"
Django = "==2.1.7"
psycopg2 = "==2.7.5"
gunicorn = "==19.9.0"
whitenoise = "==4.1"
newspaper3k = "*"
requests = "*"
goose3 = "*"
loguru = "*"
python-magic = "*"
pdf2image = "*"
cairosvg = "*"
django-npm = "*"
beautifulsoup4 = "*"
djangorestframework = "*"
django-cors-headers = "*"
boltons = "*"
django-filer = "*"
django-mptt = ">=0.6"
easy_thumbnails = ">=2.6.0"
django-polymorphic = ">=0.7"
Pillow = ">=2.3.0"
tornado = ">=4.2.0,<6.0.0"
redis = ">=3.2.0"
retrying = "*"
django-elasticsearch-dsl = "*"
django-tags-input = "*"
greenlet = "*"

[packages.pdfkit]
editable = true
git = "https://github.com/JazzCore/python-pdfkit.git"
ref = "master"

[packages.django-currentuser]
editable = true
git = "https://github.com/PaesslerAG/django-currentuser"
ref = "master"

[packages.celery]
editable = true
git = "https://github.com/celery/celery"
ref = "master"
extras = [ "redis",]
