.quill-widget {
  display: inline-block;
}

.quill-widget > textarea {
  display: none;
}

.errors .quill-widget {
  border: 1px solid #ba2121;
}

.quill-widget > .quill-widget-content {
  min-height: 150px;
}
