{% extends "admin/base.html" %}
{% load static %}
{% block extrastyle %}{{ block.super }}
    <link rel="stylesheet" type="text/css" href="{% static "css/admin-extra.css" %}" />
    <link rel="stylesheet" type="text/css" href="{% static "quill/quill.snow.css" %}" />
    <link rel="stylesheet" type="text/css" href="{% static "css/quill-widget.css" %}" />
{% endblock %}
{% block footer %}{{ block.super }}
    <script src="{% static 'quill/quill.js' %}"></script>
    <script>
        var quill_editor = new Quill("div.quill-widget-content", {
            debug: 'info',
            modules: {
                toolbar: ['bold', 'italic', 'underline', 'strike'],
            },
            placeholder: 'Compose an epic...',
            readOnly: false,
            theme: 'snow'
        })
    </script>
{% endblock %}